  <div id="about_me">

    <div id="header">
  
      <img id="selfie" src="https://www.cdc.gov/healthypets/images/pets/cute-dog-headshot.jpg?_=42445" height="270px" >
      
      <div id="contact">
  
        <h2>lopezmesakevin@gmail.com</h2>
        <h2>658 42 80 77</h2>
  
      </div>

      <div id="description">

        <h1 id="name">Kevin López Mesa</h1>
        <h3>Full-stack developer</h3>
        
        <h2>Desarroyador autodidacta, dispuesto a aprender y crear impresionantes aplicaciones UI.</h2>
  
      </div>
      
    </div>
  
  </div>

  <router-outlet></router-outlet>
  
  
  