<div class="slider">
    <div (click)= 'catwiki()'><img src="https://i.guim.co.uk/img/media/c5e73ed8e8325d7e79babf8f1ebbd9adc0d95409/2_5_1754_1053/master/1754.jpg?width=465&quality=45&auto=format&fit=max&dpr=2&s=065f279099ded1062688e357b155dc29" alt="Cat wiki" class="project">
      <h2 class="title">Cat Wiki</h2>
      <h3>
        Tecnologías: JavaScript, TypeScript, , JQuery, Angular. <br>
        App para visualizar diferentes razas de gatos y sus rasgos más
        característicos. Con una conexión estable a una Api.
      </h3>
    </div>
    <div (click)= 'countryquiz()'><img src="https://www.ecestaticos.com/imagestatic/clipping/afd/3a4/afd3a416add222875c3478ccf076897c/cuantos-paises-eres-capaz-de-reconocer-con-tan-solo-ver-sus-banderas.jpg?mtime=1622863922" alt="Country Quiz" class="project">
      <h2 class="title">Country Quiz</h2>
      <h3>
        Tecnologías: JavaScript, TypeScript, , JQuery, Angular. <br>
        Colorido y divertido juego en el que el objetivo es relacionar los países
        que aparecen de forma aleatoria con sus capitales. Por cada respuesta correcta se aumenta un punto al marcador que se mostrara al fallar alguna de las respuestas. Aplicación
        reactiva y entretenida.
      </h3>
    </div>
  </div>
