<div id="content">
  
    <div id="jobs">

      <div id="about-me">
        <h2>
          Trabajador incansable
          deseando <strong>reciclarse</strong>. Iniciando
          mis estudios en Ingeniería
          Informática en la <strong>UNED</strong>. Con
          ganas de empezar a ganar
          experiencia, aprender nuevas
          habilidades y mejorar las que
          ya tengo. Busco un lugar que
          me permita aumentar mis
          <i>conocimientos</i> y que me
          permita crecer como
          <i>profesioanal</i>.
  
        </h2>
      </div>
  
      <div id="skills">
  
        <h2>Conocimientos:</h2>
  
        <li class="skill">
          <h3>HTML5</h3><span class="bar"> <span class="html"></span> </span>
        </li>
        <li class="skill">
          <h3>CSS3</h3><span class="bar"> <span class="css"></span> </span>
        </li>
        <li class="skill">
          <h3>JavaScript</h3><span class="bar"> <span class="javaScript"></span> </span>
        </li>
        <li class="skill">
          <h3>Angular</h3><span class="bar"> <span class="angular"></span> </span>
        </li>
        <li class="skill">
          <h3>NodeJS</h3><span class="bar"> <span class="node"></span> </span>
        </li>
        <li class="skill">
          <h3>MongoDB</h3><span class="bar"> <span class="mongo"></span> </span>
        </li>
        
      </div>
  
      <div id="experience">
  
        <h1>Experiencia:</h1>
        
        <h2>
          Mi experiencia profesioanl ha sido la de freelance, creando pequeñas páginas web para locales de mi comunidad que las necesitaban. <br><br>
          En estos proyectos he hecho simples pero elegantess front-ends, diseñados para ser utilizados de manera sencilla por el usuario. A sí mismo el back-en, hecho con <strong>NodeJS</strong> y <strong>MongoDB</strong> permitía a los dueños de los establecimientos mantener una base de datos limpia y accesible a sus productos. <br><br>
          De forma personal he creado pequeñas aplicaciones, usando las tecnologías asociadas a JavaScript, como pueden ser <strong>Angular</strong>, <strong>TypeScript</strong>, <strong>Jquery</strong>, entre otras.
        </h2>
  
      </div>

    </div>

      <div id="projects">
        
        <slider></slider>

      </div>
  
      <div id="hobbies">

        <div class="hobbies">

          <h2>Deporte</h2>
          
          <img src="https://www.fondationeczema.org/sites/default/files/2020-07/football-760x614px.jpg" width="300px" alt="Futbol">

          <p>Me encanta el  <strong>deporte</strong> en general. Una faceta importante de la vida es estar en forma para poder llevar una vida sana. Uno de mis deportes favoritos y que practico todas las semanas es el <strong><i>futbol</i></strong>.</p>

          <br>
          <br>
          <hr>


          <div class="hobbies">
  
            <h2>Gaming</h2>

            <img src="https://image.coolblue.nl/1248x535/content/e111e2396926a48e16264f916113e07f" width="300px" alt="Gaming">
            <p>¿A quién no le gusta vivir grandes  <strong>aventuras</strong> ? Como avido consumidor de cultura, siempre busque una historia en la que sumergirme, este deseo me llevo a los videojuegos, la combinación perfecta de otras dos de mis pasiones, los <strong>libros</strong> y las <strong>películas</strong> .</p>
        </div>

        <br>
        <br>
        <hr>


          <div class="hobbies">
            <h2>Cocinar</h2>

            <img src="https://www.hogarmania.com/archivos/201901/cocinar-batch-cooking-XxXx80.jpg" width="300px" alt="Cocinar">
            <p>Cocinar es una de mis pasiones, desde joven fui introducido a la cocina por mis <strong>padres</strong>, grandes cocineros los dos, que me enseñaron a amar este arte.</p>
        </div>
      
      </div> 

    <div id="links">
      Links
    </div>
  
  </div>

  